@charset "utf-8";
/* CSS Document */
body
{
	font-family:"微軟正黑體";
}
#main
{
	width:1034px;
	padding:10px;
	margin:20px auto 20px auto;
	border:#000 solid 1px;
	min-height:768px;
}
#top a
{
	color:#CE631C;
	text-decoration:none;
}
#left
{
	display:inline-block;
	width:20%;
	padding:2%;
	height:550px;
	overflow: auto;
	vertical-align:top;
	border:#000 1px solid;
}
#left a
{
	display:block;
	padding:15px 5px 15px 5px;
	border-radius: 10px;
	text-decoration:none;
	background:#F4C591;
	margin:10px auto 10px auto;
	color:#65350A;
	box-shadow: 0 1px 1px #00000070;
}
.ct
{
	text-align:center;
}
#right
{
	display:inline-block;
	width:71%;
	padding:2%;
	height:550px;
	overflow: auto;
	border:#000 1px solid;
}
#bottom
{
	height:70px;
	background:url(icon/bot.png);
	background-size:cover;
}
.al
{
	padding:10px;
	text-align:center;
}
.all
{
	width:90%;
	margin:10px auto 10px auto;
	box-shadow: 0 0 10px #00000070;
}
.all td
{
	min-width:60px;
	padding:10px;
}
.tt
{
	background:#EF7429;
}
.tt td
{
	background:#EF7429;
}
.pp
{
	background:#EFCA85;
}
.pp td
{
	background:#EFCA85;
}
input[type=text],input[type=password],input[type=submit],button,.button,input[type=reset],input[type=button],select，textarea,input[type=number]
{
	background:#F3F3F3;
	border:#CCC 1px solid;
	border-radius:3px;
	padding:5px 8px 5px 8px;
	text-decoration:none;
	margin:3px;
	color:#333;
}
input[type=text],input[type=password]
{
	width:170px;
}
.s
{
	display:none;
}
#left .s a{
	margin-left: 30px;
	background-color: #cc0;
	padding: 5px;
}
div.ww:hover > div.s
{
	display:block;
}
.sb button
{
	font-size:12px;
}
.cu,button,input[type=submit],input[type=reset]{
	cursor: pointer;
	transition:box-shadow 0.8s ;
}
.cu:hover,button:hover,input[type=submit]:hover,input[type=reset]:hover{
	box-shadow: 0 0 10px #00000070;
}
